[user]
	name = kim-dong-jun
	email = kim.dongjun@linkareer.com
[commit]
	template = /Users/dongjunkim/.gitmessage.txt
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[code]
	editor = code --wait
[core]
	editor = code --wait
